<form action="/todos/edit/{{ todoId }}?_method=PUT" method="post" style="display: inline" class="px-2">
  <div class="input-group">
    <div class="input-group-text">
      <input style="vertical-align: middle;" type="checkbox" name="isDone" {{#if isDone }} checked {{/if}}>
    </div>
    <input class="form-control me-3" type="text" placeholder="input name" name="name" value="{{ name }}">
    <button class="btn btn-success mx-1" type="submit">Edit</button>
    <a class="btn btn-secondary mx-1" href="/">Back</a>
  </div>
</form>